<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% load static %}
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<title>Hello, world!</title>
	</head>
	<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show    pace-done pace-done">
		<header class="app-header navbar">
			<button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" data-toggle="sidebar-show" type="button"><span class="navbar-toggler-icon"></span></button> <a class="navbar-brand" href="#"><img alt="CoreUI Logo" class="navbar-brand-full" height="25" src="img/brand/logo.svg" width="89"> <img alt="CoreUI Logo" class="navbar-brand-minimized" height="30" src="img/brand/sygnet.svg" width="30"></a> <button class="navbar-toggler sidebar-toggler d-md-down-none" data-toggle="sidebar-lg-show" type="button"><span class="navbar-toggler-icon"></span></button>
			<ul class="nav navbar-nav d-md-down-none">
				<li class="nav-item px-3">
					<a class="nav-link" href="#">Dashboard</a>
				</li>
				<li class="nav-item px-3">
					<a class="nav-link" href="#">Users</a>
				</li>
				<li class="nav-item px-3">
					<a class="nav-link" href="#">Settings</a>
				</li>
			</ul>
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item dropdown d-md-down-none">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" role="button"><i class="icon-bell"></i> <span class="badge badge-pill badge-danger">5</span></a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
						<div class="dropdown-header text-center">
							<strong>You have 5 notifications</strong>
						</div><a class="dropdown-item" href="#"><i class="icon-user-follow text-success"></i> New user registered</a> <a class="dropdown-item" href="#"><i class="icon-user-unfollow text-danger"></i> User deleted</a> <a class="dropdown-item" href="#"><i class="icon-chart text-info"></i> Sales report is ready</a> <a class="dropdown-item" href="#"><i class="icon-basket-loaded text-primary"></i> New client</a> <a class="dropdown-item" href="#"><i class="icon-speedometer text-warning"></i> Server overloaded</a>
						<div class="dropdown-header text-center">
							<strong>Server</strong>
						</div><a class="dropdown-item" href="#">
						<div class="text-uppercase mb-1">
							<small><b>CPU Usage</b></small>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-info" role="progressbar" style="width: 25%">
							<span class="progress progress-xs"></span>
						</div><small class="text-muted">348 Processes. 1/4 Cores.</small></a> <a class="dropdown-item" href="#">
						<div class="text-uppercase mb-1">
							<small><b>Memory Usage</b></small>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" class="progress-bar bg-warning" role="progressbar" style="width: 70%">
							<span class="progress progress-xs"></span>
						</div><small class="text-muted">11444GB/16384MB</small></a> <a class="dropdown-item" href="#">
						<div class="text-uppercase mb-1">
							<small><b>SSD 1 Usage</b></small>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" class="progress-bar bg-danger" role="progressbar" style="width: 95%">
							<span class="progress progress-xs"></span>
						</div><small class="text-muted">243GB/256GB</small></a>
					</div>
				</li>
				<li class="nav-item dropdown d-md-down-none">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" role="button"><i class="icon-list"></i> <span class="badge badge-pill badge-warning">15</span></a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
						<div class="dropdown-header text-center">
							<strong>You have 5 pending tasks</strong>
						</div><a class="dropdown-item" href="#">
						<div class="small mb-1">
							Upgrade NPM &amp; Bower <span class="float-right"><strong>0%</strong></span>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar bg-info" role="progressbar" style="width: 0%">
							<span class="progress progress-xs"></span>
						</div></a> <a class="dropdown-item" href="#">
						<div class="small mb-1">
							ReactJS Version <span class="float-right"><strong>25%</strong></span>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar bg-danger" role="progressbar" style="width: 25%">
							<span class="progress progress-xs"></span>
						</div></a> <a class="dropdown-item" href="#">
						<div class="small mb-1">
							VueJS Version <span class="float-right"><strong>50%</strong></span>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar bg-warning" role="progressbar" style="width: 50%">
							<span class="progress progress-xs"></span>
						</div></a> <a class="dropdown-item" href="#">
						<div class="small mb-1">
							Add new layouts <span class="float-right"><strong>75%</strong></span>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar bg-info" role="progressbar" style="width: 75%">
							<span class="progress progress-xs"></span>
						</div></a> <a class="dropdown-item" href="#">
						<div class="small mb-1">
							Angular 2 Cli Version <span class="float-right"><strong>100%</strong></span>
						</div><span class="progress progress-xs"></span>
						<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar bg-success" role="progressbar" style="width: 100%">
							<span class="progress progress-xs"></span>
						</div></a> <a class="dropdown-item text-center" href="#"><strong>View all tasks</strong></a>
					</div>
				</li>
				<li class="nav-item dropdown d-md-down-none">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" href="#" role="button"><i class="icon-envelope-letter"></i> <span class="badge badge-pill badge-info">7</span></a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">
						<div class="dropdown-header text-center">
							<strong>You have 4 messages</strong>
						</div><a class="dropdown-item" href="#">
						<div class="message">
							<div class="py-3 mr-3 float-left">
								<div class="avatar">
									<img alt="admin@bootstrapmaster.com" class="img-avatar" src="img/avatars/7.jpg"> <span class="avatar-status badge-success"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">John Doe</small> <small class="text-muted float-right mt-1">Just now</small>
							</div>
							<div class="text-truncate font-weight-bold">
								<span class="fa fa-exclamation text-danger"></span> Important message
							</div>
							<div class="small text-muted text-truncate">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
							</div>
						</div></a> <a class="dropdown-item" href="#">
						<div class="message">
							<div class="py-3 mr-3 float-left">
								<div class="avatar">
									<img alt="admin@bootstrapmaster.com" class="img-avatar" src="img/avatars/6.jpg"> <span class="avatar-status badge-warning"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">John Doe</small> <small class="text-muted float-right mt-1">5 minutes ago</small>
							</div>
							<div class="text-truncate font-weight-bold">
								Lorem ipsum dolor sit amet
							</div>
							<div class="small text-muted text-truncate">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
							</div>
						</div></a> <a class="dropdown-item" href="#">
						<div class="message">
							<div class="py-3 mr-3 float-left">
								<div class="avatar">
									<img alt="admin@bootstrapmaster.com" class="img-avatar" src="img/avatars/5.jpg"> <span class="avatar-status badge-danger"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">John Doe</small> <small class="text-muted float-right mt-1">1:52 PM</small>
							</div>
							<div class="text-truncate font-weight-bold">
								Lorem ipsum dolor sit amet
							</div>
							<div class="small text-muted text-truncate">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
							</div>
						</div></a> <a class="dropdown-item" href="#">
						<div class="message">
							<div class="py-3 mr-3 float-left">
								<div class="avatar">
									<img alt="admin@bootstrapmaster.com" class="img-avatar" src="img/avatars/4.jpg"> <span class="avatar-status badge-info"></span>
								</div>
							</div>
							<div>
								<small class="text-muted">John Doe</small> <small class="text-muted float-right mt-1">4:03 PM</small>
							</div>
							<div class="text-truncate font-weight-bold">
								Lorem ipsum dolor sit amet
							</div>
							<div class="small text-muted text-truncate">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
							</div>
						</div></a> <a class="dropdown-item text-center" href="#"><strong>View all messages</strong></a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a aria-expanded="false" aria-haspopup="true" class="nav-link nav-link" data-toggle="dropdown" href="#" role="button"><img alt="admin@bootstrapmaster.com" class="img-avatar" src="img/avatars/6.jpg"></a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="dropdown-header text-center">
							<strong>Account</strong>
						</div><a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates <span class="badge badge-info">42</span></a> <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages <span class="badge badge-success">42</span></a> <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks <span class="badge badge-danger">42</span></a> <a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comments <span class="badge badge-warning">42</span></a>
						<div class="dropdown-header text-center">
							<strong>Settings</strong>
						</div><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a> <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Settings</a> <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments <span class="badge badge-dark">42</span></a> <a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects <span class="badge badge-primary">42</span></a>
						<div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock Account</a> <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
					</div>
				</li>
			</ul><button class="navbar-toggler aside-menu-toggler d-md-down-none" data-toggle="aside-menu-lg-show" type="button"><span class="navbar-toggler-icon"></span></button> <button class="navbar-toggler aside-menu-toggler d-lg-none" data-toggle="aside-menu-show" type="button"><span class="navbar-toggler-icon"></span></button>
		</header>
		
		<iframe src="{% url 'iframe' %}" style="height: 700px"></iframe>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>