{% extends "includes/layout.html" %}

{% block content %}
	<div class="container" style="margin-top: 5%">
		<div class="card">
			<div class="card-header">
				Invoice <strong>#90-98792</strong> 
				<a class="btn btn-sm btn-secondary float-right mr-1 d-print-none" href="#" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a> 
				<a class="btn btn-sm btn-info float-right mr-1 d-print-none" href="{% url 'downlaodPDF' %}"><i class="fa fa-save"></i> Save</a>
			</div>
			<div class="card-body">
				
			</div>
		</div>
	</div>
{% endblock %}

{% block jsfile %}
{% endblock %}